@model SmallLister.Web.Model.Profile.IndexViewModel

<article>
    <h2>Feeds</h2>

    @if (Model.Feeds.Any()) {
    <div>Your feeds:</div>
    <ul>
        @foreach (var feed in Model.Feeds) {
        <li>
            <div>Feed URL: https://smalllister.nosuchblogger.com/feed/@feed.UserFeedIdentifier</div>
            <div>Created on @feed.CreatedDate</div>
            <div>Showing @feed.SummaryInfo</div>

            <form method="post" action="/profile/feed/delete/@feed.UserFeedId">
            @Html.AntiForgeryToken()
            <button data-confirm="This will stop your lists being available on this feed URL - are you sure?">Delete</button>
            </form>
            }
        </li>
        }
    </ul>
    } else {
    <p>No feeds created.</p>
    }

    <p>
    <form name="sml-feed-add" method="post" action="/profile/feed">
    @Html.AntiForgeryToken()
    <fieldset>
    <legend>Create a new feed</legend>
    <div>
        <label for="sml-feed-type">Show:</label>
        <select id="sml-feed-type" name="type" class="sml-feed-type">
            <option value="overdue">Due and Overdue items</option>
            <option value="due">Overdue items only</option>
        </select>
    </div>
    <div>
        <label for="sml-feed-display">Item display:</label>
        <select id="sml-feed-display" name="display" class="sml-feed-display">
            <option value="none">Just a link to the item</option>
            <option value="shortDescription">First word of the item's description</option>
            <option value="description">Entire description</option>
        </select>
    </div>
    <div>
        <label></label>
        <button type="submit">Create</button>
    </div>
    </fieldset>
    </form>
    </p>

    <h2>External API Access</h2>

    @if (Model.ExternalApiAccessList.Any()) {
    <div>These applications have access to your lists:</div>
    <ul>
        @foreach (var externalApiAccess in Model.ExternalApiAccessList) {
        <li>
            <div>@externalApiAccess.DisplayName approved on @externalApiAccess.ApprovedDate</div>
            <div>Last accessed on @externalApiAccess.LastAccessedDate</div>
            @if (externalApiAccess.IsRevoked) {
            <div>Revoked on @externalApiAccess.RevokedDate</div>
            }

            @if (!externalApiAccess.IsRevoked) {
            <form method="post" action="/profile/externalapp/revoke/@externalApiAccess.UserAccountApiAccessId">
            @Html.AntiForgeryToken()
            <button data-confirm="This will prevent any future access to your lists from @externalApiAccess.DisplayName - are you sure?">Revoke Access</button>
            </form>
            }
        </li>
        }
    </ul>
    } else {
    <p>No applications have access to your lists.</p>
    }

    <h2>External API Clients</h2>

    @if (Model.ExternalApiClients.Any()) {
    <ul>
        @foreach (var externalApiClient in Model.ExternalApiClients) {
        <li>
            <div>@externalApiClient.DisplayName:</div>
            <div>AppKey: <input type="text" value="@externalApiClient.AppKey" /></div>
            <div>RedirectUri: <input type="text" value="@externalApiClient.RedirectUri" /></div>
            <form method="post" action="/profile/externalclient/update/@externalApiClient.ApiClientId">
            @Html.AntiForgeryToken()
            @if (externalApiClient.IsEnabled) {
            <button name="state" value="disable">Disable</button>
            } else {
            <button name="state" value="enable">Enabled</button>
            }
            </form>
        </li>
        }
    </ul>
    } else {
    <p>No external clients have been registered.</p>
    }

    <p>
    <form name="sml-list-add" method="post" action="/profile/externalclient">
    @Html.AntiForgeryToken()
    <fieldset>
    <legend>Create a new external API client</legend>
    <div>
        <label for="sml-list-add-name">Display Name:</label>
        <input type="text" id="sml-list-add-name" name="name" class="sml-list-add-name" />
    </div>
    <div>
        <label for="sml-list-add-uri">Redirect URI:</label>
        <input type="text" id="sml-list-add-uri" name="uri" class="sml-list-add-uri" />
    </div>
    <div>
        <label></label>
        <button type="submit" data-depends="input.sml-list-add-name">Add</button>
    </div>
    </fieldset>
    </form>
    </p>
</article>