@model SmallLister.Web.Model.Home.IndexViewModel

<aside>
    <nav>
        <ul>
            <li class="sml-list-due"><a href="/?list=due">1 overdue; 2 due today</a></li>
            <li class="sml-list-all"><a href="/?list=all">All</a></li>
            @foreach (var list in Model.Lists) {
                <li class="@(list.UserListId == Model.SelectedList?.UserListId ? "sml-selected" : "")">
                    <a href="/?list=@list.UserListId">@list.Name</a>
                </li>
            }
        </ul>
    </nav>
</aside>

<article>
    <span class="sml-toolbar">Sort by: <a href="/todo">due date</a> or <a href="/todo">description</a></span>
    <h2>@(Model.SelectedList == null ? "All" : Model.SelectedList.Name)</h2>

    <ul class="sml-list">
        <li class="sml-list">
            @if (Model.Items.Any()) {
            <ul class="sml-list-item">
            @foreach (var item in Model.Items) {
                <li class="sml-list-item" data-listitem="@item.UserItemId">
                    <div><img class="sml-list-item-drag-handle" src="/images/drag.png" height="26" width="22" title="Move" /></div>
                    <div>
                        <div>@item.Description</div>
                        <div class="sml-list-item-notes">@item.Notes</div>
                        
                        <form method="post" action="/todo">
                        @Html.AntiForgeryToken()
                        <button title="Done"><img src="/images/tick.png" height="15" width="15" /> Done</button>
                        </form>
                        <form method="post" action="/todo">
                        @Html.AntiForgeryToken()
                        <button title="Edit"><img src="/images/notes.png" height="15" width="15" /> Edit</button>
                        </form>
                    </div>
                    <div title="@item.Due">@item.DueSummary<br/><span>@item.Repeats</span></div>
                </li>
            }
            </ul>
            } else {
            <text>Nothing on this list, you're all done.</text>
            }
        </li>
    </ul>

@*
    <div class="pagination">
        <a href="/todo">&laquo;</a>
        <a class="pagination-active">1</a>
        <a href="/todo">2</a>
        <a href="/todo">3</a>
        <span>&bull;&bull;</span>
        <a href="/todo">12</a>
        <a href="/todo">&raquo;</a>
    </div>
*@

    <div>
    <form name="sml-list-add" method="post" action="/items/add">
    @Html.AntiForgeryToken()
    <fieldset>
    <legend>Add to list</legend>
        <div>
        <label for="sml-list-add-list">List:</label>
        <select id="sml-list-add-list" name="list" class="sml-list-add-list">
            <option value="">All</option>
            @foreach (var list in Model.Lists) {
                @if (list.UserListId == Model.SelectedList?.UserListId) {
            <option value="@list.UserListId" selected="selected">@list.Name</option>
                } else {
            <option value="@list.UserListId">@list.Name</option>
                }
            }
        </select>
    </div>
    <div>
        <label for="sml-list-add-description">Description:</label>
        <input type="text" id="sml-list-add-description" name="description" class="sml-list-add-description" />
    </div>
    <div>
        <label for="sml-list-add-due">Due:</label>
        <input type="text" id="sml-list-add-due" name="due" class="sml-list-add-due" />
    </div>
    <div>        
        <label for="sml-list-add-repeat">Repeat:</label>
        <select id="sml-list-add-repeat" name="repeat" class="sml-list-add-repeat" data-depends="input.sml-list-add-due">
            <option value="" selected="selected">None</option>
            <option value="daily">Every day</option>
            <option value="weekly">Every week</option>
            <option value="monthly">Every month</option>
            <option value="yearly">Every year</option>
        </select>
    </div>
    <div>
        <label for="sml-list-add-notes">Notes:</label>
        <textarea id="sml-list-add-notes" name="notes" class="sml-list-add-notes" wrap="off"></textarea>
    </div>
    <div>
        <label></label>
        <button type="submit" data-depends="input.sml-list-add-description">Add</button>
    </div>
    </fieldset>
    </form>
    </div>
</article>

@section Scripts {
<script type="text/javascript">
    $(function() { 
        let dueDateSelector = 'form[name="sml-list-add"] input.sml-list-add-due';
        pickmeup(dueDateSelector, {
            default_date: false,
            hide_on_select: true,
            format: 'Y-m-d'
        });
        $(dueDateSelector).on('change input paste keyup', function() {
            let dueDate = $(this).val();
            if (dueDate !== null && dueDate.match(/^\s*$/) === null)
                return;
            pickmeup(dueDateSelector).hide();
            pickmeup(dueDateSelector).set_date(new Date);
            $('form[name="sml-list-add"] select.sml-list-add-repeat').val('none');
        });
    });
</script>
}